*
{
    margin: 0;
}
body
{
    background-color: black;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero
{
    background-color: white;
    border: 2px solid black;
    height: 60vh;
    width: 20vw;
    border-radius: 10px;
}
#find
{
    margin: 10px;
    margin-left: 20px;
}
input
{
    border: 1px solid black;
    outline: none;
    width: 160px;
    border-radius: 25px;
    height: 30px;
}
#selectBtn
{
    border-radius: 50px;
    width: 35px;
    height: 35px;
}
#img
{
    height: 150px;
    width: 150px;
    margin-left: 45px;
    margin-top: 5px;
}
footer
{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}