*{
    margin: 0;
    padding: 0;
}
body
{
    height: 95.8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: goldenrod;
}
#hero
{
    position: relative;
    align-content: center;
    text-align: center;
    height: 50vh;
    width: 40vw;
    /* border: 2px solid black; */
    box-shadow: 0px 0px 15px black;
    background-color: black;
    border-radius: 15px;
}
.btn
{
    position: absolute;
    left: 200px;
    bottom: 30px;
    /* border: 2px solid red; */
    background-color: goldenrod;
    height: 50px;
    width: 200px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 800;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    filter: drop-shadow(0 0 8px goldenrod);
    border: none;
}
.btn:hover
{
    cursor: pointer;
    background-color: darkgoldenrod;
}
#jokes
{
    margin: 5px;
    /* border: 2px solid red; */
    color: #fff;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    transition-property: initial;
    transition-timing-function: ease-in-out;
    filter: drop-shadow(0 0 8px goldenrod);
}

#emoji
{
    filter: drop-shadow(0 0 8px goldenrod);
    position: absolute;
    top: -3px;
    left: 245px;
    height: 80px;
    width: 80px;
    /* border: 2px solid red; */
    font-size: 80px;
}