*
{
    margin: 0;
    padding: 0;
}
.hero
{
    background-color: white;
    display: flex;
    justify-content: space-evenly;    
    align-items: center;
    height: 749px;
    
}
.a1
{
    height: 60vh;
    width: 600px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-evenly;    
    align-items: center;
    border-radius: 25px;
    box-shadow: 5px 5px 20px hsl(241, 100%, 89%);
}

.b1
{
    height: 100%;
    width: 50%;
    background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.c1
{
    text-align: center;
    border: 2px solid green;
    height: 80%;
    width: 80%;
}
.b2
{
    width: 50%;
    background-color: hsl(0, 0%, 100%);
}
.d2
{
    border: 2px solid red;
    width :50%;
    height: 100px;
}
d1.a1