@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");
*
{
    margin: 0;
    padding: 0;
}
.hero
{
    background-color: white;
    display: flex;
    justify-content: space-evenly;    
    align-items: center;
    height: 749px;
    
}
.a1
{
    height: 70vh;
    width: 50%;
    border: 2px solid black;
    display: flex;
    justify-content: space-evenly;    
    align-items: center;
    border-radius: 25px;
    box-shadow: 5px 5px 20px hsl(241, 100%, 89%);
}

.b1
{
    height: 100%;
    width: 50%;
    
    background: rgb(46,43,233);
    background: linear-gradient(360deg,rgba(46,43,233,1)15%,rgba(120,87,255,0.9260154745491946)91%);
    /* aspect-ratio: 1/1; */
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.c1
{
    text-align: center;
    /* border: 2px solid green; */
    height: 80%;
    width: 80%;
}
.b2
{
    width: 50%;
    background-color: hsl(0, 0%, 100%);
}
.d0
{
    height: 12%;
}
.d2
{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    width :100%;
    height: 210px;
}
.d3
{
    height: 20px;
}
p{
    font-size: 20px;
}
h2{
    font-size: 40px;
}
.e1
{
    /* border: 2px solid darkorange; */
    width: 55%;
    height: 80%;
    border-radius: 50%;
    background: rgb(78,33,202);
    background: linear-gradient(360deg, rgba(78,33,202,1) 17%,rgba(36,33,202,1) 96%);
    box-shadow: inset 1px 1px 12px 0px hsla(256, 72%, 46%, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#no
{
    font-size: 70px;
}

.b2
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    border-radius: 25%;
}
.c2
{
    text-align: center;
    border: 2px solid green;
    height: 80%;
    width: 80%;
}
.x1
{
    margin-top: 15px;
    margin-bottom: 10px;
    width: 100%;
    height: 13%;
    background-color: hsl(0, 100%, 67%);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.x2
{
    width: 100%;
    height: 13%;
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: hsl(39, 100%, 56%);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.x3
{
    width: 100%;
    height: 13%;
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: hsl(166, 100%, 37%);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.x4
{
    width: 100%;
    height: 13%;
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: hsl(234, 85%, 45%);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.y1
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.y2
{
    width: 40%;
}
.heading
{
    text-align: start;
    height: 50px;
}

/* @media screen and (max-width:600px) {
    .a1{
        width: 100%;
        flex-direction: column;
    }
    .c1{
        flex-wrap: wrap;
    } */
}