body
{
    background-color: black;
    height: 97vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
div{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    text-align: center;
    border-radius: 5px;
}
div.edit
{
    height: 100px;
    width: 100px;
    border: 2px solid red;
    text-align: center;
    border-radius: 5px;
}
h1
{
    color: white;
}
p
{
    color: goldenrod;
}